/* Header Comany Name */
.header {
  font-style: "Segoe UI";
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
}

/* Header Nav */
.nav-link {
  cursor: pointer;
  padding-right: 30px;
}
.nav-link:active,
.nav-link:hover {
  color: #fff !important;
}

/* Header Icons */
.icon-link {
    color: white;
    padding-left: 25px;
    align-items: right;
    align-content: right;
}
.icon-link:active,
.icon-link:hover {
    color: green;
}

/* Carousel */
.carousel-item {
  width: 120vh;
  height: 70vh;
  background-position: center;
  background-size: cover;
}

/* Login Form Background */
.gradient-custom {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.nav-tabs > li > a {
  color: #fff;
}

/* Google Maps Container */
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}